body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h1 {
  font-family: 'Indie Flower', cursive;
}

a,
h3,
h4,
p,
button,
label,
input[type="text"] {
  font-family: Arial;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: solid black;
}

h1 {
  font-size: 28px;
}

.blue-background {
  background-color: #ffe6fe;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

#front-page-image {
  width: auto;
  height: 600px;
  border-radius: 10px;
}

#front-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

#company-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cat-baking {
  max-width: 40%;
}

#company-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5%;
}

#contact-page {
  text-align: center;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30%;
  margin-left: 30%;
}

button {
  margin-top: 30px;
  height: 50px;
  width: 100px;
  background-color: pink;
  border: none;
}

button:hover {
  background-color: salmon;
}

label {
  font-weight: bold;
  margin: 5px;
}

@media screen and (max-width: 479px) {
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #products-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #company-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #cat-baking {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 80%;
  }
  #contact-form {
    max-width: 80%;
  }
}

@media screen and (max-width: 767px) and (min-width: 479px) {
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-tile {
    -webkit-box-flex: 49%;
        -ms-flex: 49%;
            flex: 49%;
  }
}

@media screen and (max-width: 2000px) and (min-width: 767px) {
  .products-tile {
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
  }
}

.product-image {
  width: 350px;
  height: auto;
}

#products-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.products-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  text-align: right;
  margin-right: 20px;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */